
body{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    overflow: auto;
    margin: 0;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}

h3{
/*    font-size: 2.7em;
    font-weight: bold;*/
    font: bold 2.7em 'Lato', sans-serif;
}
h4{
  font-size: 13px;
}

img{
    max-width: 100%;

}

hr{
/*    border-color: #7d97ad;
    border-width: 5px;*/
    border: 2px solid #7d97ad;
  }

article {
    padding-top: 10px;
    border: 0.5px solid;
}


.row{
  margin: 10px;
}

.top-bar{
  height:15px;
}

.title-super{
  font-size: 1.5em;
}

.logo-sm{
  margin-top: 10px;
}

.main-img{
  display:block;
  margin: 0 auto;
}

.text_muted{
  color: #7d97ad;
  font-weight: bold;
}

.text_thin{
  font-weight: 100;
}

.app_titles{
  text-align: center;
  color: #2d3c49;
  font-size: 1.7em;
}

.center{
  display: block;
  margin: 0 auto;
}

.app_links{
  display: block;
  text-align: center;
  color: #2d3c49;
}


.logo-animation{
  animation: spin 0.5s;
}


@media(min-width:767px){
  .top-bar{
  height: 20px;
}
  .title-super{
    font-size: 2em;
  }
  .app_titles{
    font-size: 2.7em;
  }
  h2{
    text-align: left;
    font-size: 2em;
  }
  h4{
    font-size: 16px;
  }
}

@media(min-width:768px){
  .title-super{
    font-size: 2em;
  }
  h2{
    font-size: 2em;
  }
  h4{
    font-size: 16px;
  }
}

@media(min-width:992px){
  .top-bar{
  height: auto;
}
  .title-super{
    font-size: 3em;
  }
  h2{
    font-size: 2.5em;
  }
  h4{
    font-size: 18px;
  }
}

@media(min-width:1200px){
  .title-super{
    font-size: 4em;
  }
  h2{
    font-size: 2.5em;
  }
  h4{
    font-size: 20px;
  }
}


@keyframes spin{
  0%{
    transform: rotate(0deg) scale(0.1);
  }

  100%{
    transform: rotate(360deg) scale(1);
  }
}