/*192.168.56.1*/
body
{
    font-family: 'Open Sans', sans-serif;
}


article
{
    width: 1000px;
}

h1
{
    font-size: 4em;

    text-align: right;
}


h3
{
    text-align: right;
    font-weight: 500;
}

img
{
    max-width:100%;
}
hr
{

    border-color:#7d97ad;
    border-width: 5px;
}

.app_titles
{
    text-align:center;
    color:#2d3c49;
}

.app_links
{
    display: block;
    text-align:center;
    color:#2d3c49;
}


/* zocial */
[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  text-shadow: 3px 3px 3px #aaa;
  width: 2em;
}

@media screen and (max-width: 549px){





}